# Зависимости и пакеты
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Файлы конфигурации Dart/Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

# Кэши сборки и временные файлы
/build/
.dart_tool/
.pub/
.dart_tool/
.packages

# Android
android/.gradle
android/local.properties
android/app/src/main/res/mipmap-**/
android/app/src/main/res/drawable-**/
android/app/build/
android/app/.navigation/
android/.idea/
android/gradle.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.idea/
ios/DerivedData/
ios/build/
*.xcworkspace
xcuserdata/

# IDE и редакторы
.idea/
.vscode/
*.iml
*.iws

# MacOS
.DS_Store

# Файлы секретов и настроек
.env
.env.*
secrets.json

# Отчеты о сбоях
*.crash
